absl-py
accelerate
antlr4-python3-runtime
asttokens
bitsandbytes
click
coloredlogs
contourpy
cycler
decorator
decord
diffusers
einops
exceptiongroup
executing
flatbuffers
fonttools
fsspec
ftfy
grpcio
huggingface-hub
humanfriendly
imageio
imageio-ffmpeg
importlib-metadata
ipython
jedi
kiwisolver
markdown
matplotlib
matplotlib-inline
modelcards
omegaconf
onnxruntime
onnxruntime-gpu
opencv-python
packaging
parso
pexpect
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyav
pygments
pyparsing
python-dateutil
regex
safetensors
six
stack-data
tensorboard
tensorboard-data-server
tokenizers
tqdm
traitlets
transformers
triton
wcwidth
werkzeug
zipp
scipy
scikit-learn
nltk
timm
scikit-image
gdown
basicsr-fixed